# .env
# use tools/100-show-env.sh to show the environment variables
# use tools/101-gh-secrets.sh to set the environment variables into GitHub secrets

# az webapp ssh --name <APP_NAME> --resource-group <RESOURCE_GROUP>
# az webapp ssh --name 'lexatlas-api' --resource-group 'lexatlas-rg'
# az webapp log tail --name <APP_NAME> --resource-group <RESOURCE_GROUP>
# az webapp log tail --name 'lexatlas-api' --resource-group 'lexatlas-rg'

APP_NAME=lexatlas-api
CUSTOM_DOMAIN=api.lexatlas.cloud

GITHUB_REPO=https://github.com/lexatlas-org/lexatlas-api
BRANCH=main

AZURE_LOCATION=eastus2
AZURE_RESOURCE_GROUP=lexatlas-rg


# --- API Security ---
LEXATLAS_API_KEY=supersecuredevtoken

# SUBSCRIPTION_ID
AZURE_SUBSCRIPTION_ID=

# --- 10 - Azure Blob Storage ---
AZURE_STORAGE_ACCOUNT_NAME=lexatlasstorage
AZURE_STORAGE_CONTAINER=legal-uploads
AZURE_STORAGE_ACCOUNT_KEY=
FOLDER_DATA=../data

# --- 11 - Azure AI Services ---
AZURE_AISERVICE_NAME=lexatlas-ai-service
AZURE_AISERVICE_KEY=


# --- 12 - Azure Cognitive Search ---
AZURE_SEARCH_NAME=lexatlas-search
AZURE_SEARCH_KEY=
AZURE_SEARCH_INDEX=legal-index
AZURE_SEARCH_DATASOURCE=legal-ds
AZURE_SEARCH_INDEXER=legal-indexer
AZURE_SEARCH_SKILLSET=legal-skillset
AZURE_SEARCH_SEMANTIC_CONFIG_NAME=legal-semantic-config

# --- 13 - Azure OpenAI ---
AZURE_OPENAI_NAME=lexatlas-openai
AZURE_OPENAI_DEPLOYMENT=gpt-4
AZURE_OPENAI_MODEL_NAME=gpt-4
AZURE_OPENAI_MODEL_VERSION=0613
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=





 

